<div id="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h1>Encontre o Profissional que deseja</h1>
        <h2 class="subtitle">Preencha os campos abaixo para encontrar o profissional ideal para você</h2>
        <form class="form-inline signup" role="form">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Especialidade">
            <input type="text" class="form-control" placeholder="Cidade">
            <input type="text" class="form-control" placeholder="Bairro">
          </div>
          <br/>
          <br/>
          <button type="submit" class="btn btn-theme">Encontrar</button>
        </form>
      </div>
      <div class="col-lg-4">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>
          <!-- slides -->
          <div class="carousel-inner">
            <div class="item active">
              <%= image_tag("slide1.png") %>
            </div>
            <div class="item">
              <%= image_tag("slide2.png") %>
            </div>
            <div class="item">
              <%= image_tag("slide3.png") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
